.invoice-addishanal-details > header {
  background-color: #001E3A;
  height: 2px;
}
.invoice-addishanal-details.show {
  display: block;
  max-height: 600px;
  transition: max-height 0.5s ease-in-out;
  background-color: #024787;
  grid-column: 1 / span 7;
  overflow-y: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.invoice-addishanal-details.hide {
  max-height: 0;
  transition: max-height 1s ease-out;
}
.invoice-addishanal-details > .addishanal-details-inner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
  align-items: start;
  column-gap: 20px;
}
@media screen and (max-width: 1000px) {
  .invoice-addishanal-details > .addishanal-details-inner-container {
    grid-template-columns: 1fr;
  }
}
.invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
}