.row {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
}
.row > header {
  color: #ffc800;
  text-align: center;
  font-size: 2rem;
}
.row.one-row {
  grid-template-columns: 2fr 1fr;
}
.row.border {
  background-color: #005185;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #2d619f;
}
.row.address-invoice-madeout-too-edit,
.row.invoice-madeout-too-read-only {
  background-color: #005185;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #2d619f;
}
.row.invoice-madeout-too-read-only > .button-container > button {
  background-color: transparent;
  text-decoration: underline;
  color: white;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
}
.row.invoice-madeout-too-read-only > .text-container > header {
  color: white;
  font-weight: bold;
  line-height: 1.2rem;
}
.row.invoice-madeout-too-read-only > .text-container > div {
  color: white;
  line-height: 1.2rem;
}
.row.show-visited-addressess-row {
  opacity: 1;
}
.row.hide-visited-addressess-row {
  opacity: 0.2;
}
.row > label {
  color: white;
  font-size: 14pt;
}
.row input,
.row select {
  font-size: 1.2rem;
}
.row > .add-visited-address-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
}
.row > .add-visited-address-container > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}
.row > .add-visited-address-container > div > label,
.row > .add-visited-address-container > div > input,
.row > .add-visited-address-container > div > select {
  font-size: 1.2rem;
}
.row > .add-visited-address-container > div > input,
.row > .add-visited-address-container > div > select {
  width: 100%;
  border: 0;
  border-radius: 5px;
}
.row > .add-visited-address-container > div > input,
.row > .add-visited-address-container > div select {
  color: black;
}
.row > .add-visited-address-container > div > label {
  justify-self: end;
  color: #c6edd4;
}
.row > .add-visited-address-container > button {
  width: 50%;
  justify-self: end;
  background-color: #0e3a6c;
  border: 1px solid #506c97;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.row > .add-visited-address-container > button[disabled] {
  opacity: 0.5;
}
.row > .list-visited-addressess-container {
  border-spacing: 0;
  margin-left: 60px;
}
.row > .list-visited-addressess-container > thead > tr > td {
  color: #e8e5c4;
  border-bottom: 1px solid #5184b9;
  font-weight: bold;
  padding: 5px;
}
.row > .list-visited-addressess-container > tr > td {
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
.row > .list-visited-addressess-container > tr > td > button {
  background-color: transparent;
  text-decoration: underline;
  color: white;
  cursor: pointer;
  border: none;
}
.row > .list-visited-addressess-container > tr > td > button[disabled] {
  opacity: 0.5;
}