.payment-breakdown-container.disabled {
  opacity: 0.5;
}
.payment-breakdown-container {
  margin-right: 10px;
  margin-left: 10px;
}
.payment-breakdown-container > header {
  position: relative;
  text-align: center;
  display: flex;
}
.payment-breakdown-container > header > div {
  background-color: #339AA8;
  filter: blur(10px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.payment-breakdown-container > header > span {
  font-size: 2rem;
  color: #ffc800;
  display: block;
  align-self: center;
  width: 100%;
}
.add-payment-outer-container {
  background-color: #005185;
  border-radius: 5px;
  margin-top: 30px;
  padding: 1px;
  border: 1px solid #2d619f;
}
.add-payment-outer-container > .add-payment-inner-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  margin: 40px;
}
.add-payment-outer-container > .add-payment-inner-container > .row > label {
  color: white;
  font-size: 1.5rem;
}
.add-payment-outer-container > .add-payment-inner-container > .grid-two-rows {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
}
.add-payment-outer-container > .add-payment-inner-container > .grid-two-rows > input {
  width: 100%;
  border: 0;
  border-radius: 5px;
  font-size: 1.5rem;
}
.add-payment-outer-container > .add-payment-inner-container > .payment-row {
  position: relative;
}
.add-payment-outer-container > .add-payment-inner-container > .payment-row > input {
  padding-left: 30px;
  grid-column-start: 1;
  grid-row-start: 2;
}
.add-payment-outer-container > .add-payment-inner-container > .payment-row > input:invalid {
  border: 2px solid red;
}
.add-payment-outer-container > .add-payment-inner-container > .payment-row > span {
  grid-column-start: 1;
  grid-row-start: 2;
  align-self: center;
  margin-left: 10px;
  font-size: 1.5rem;
  pointer-events: none;
}
.add-payment-outer-container > .add-payment-inner-container > .submit-container {
  grid-column: 1 / 2;
}
.add-payment-outer-container > .add-payment-inner-container > .submit-container > button {
  background-color: #c0461f;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  width: 100%;
  height: 50px;
  cursor: pointer;
}
.add-payment-outer-container > .add-payment-inner-container > .submit-container > button[disabled] {
  opacity: 0.5;
  cursor: default;
}
.list-payments-outer-container {
  background-color: #005185;
  border-radius: 5px;
  margin-top: 30px;
  padding: 1px;
  border: 1px solid #2d619f;
}
.list-payments-outer-container > .list-payment-inner-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  margin: 30px;
}
.list-payments-outer-container > .list-payment-inner-container > .header-cell {
  border-bottom: 1px solid #5184b9;
  padding: 5px;
}
.list-payments-outer-container > .list-payment-inner-container > .header-cell > span {
  font-weight: bold;
  color: #e8e5c4;
}
.list-payments-outer-container > .list-payment-inner-container > .body-cell {
  padding: 5px;
}
.list-payments-outer-container > .list-payment-inner-container > .body-cell > span {
  color: white;
}
.list-payments-outer-container > .list-payment-inner-container > .body-cell > button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  text-decoration: underline;
  color: white;
}
.list-payments-outer-container > .list-payment-inner-container > .body-footer {
  position: relative;
  padding: 5px;
  margin-top: 20px;
}
.list-payments-outer-container > .list-payment-inner-container > .body-footer > span {
  color: #00bbbb;
  text-decoration: underline;
}
.list-payments-outer-container > .list-payment-inner-container > .body-footer > span:before {
  content: 'Sum';
  position: absolute;
  left: -36px;
}