.compnay-details-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
}
.compnay-details-container > div:nth-child(odd) {
  margin-top: 10px;
}
.compnay-details-container > div > label {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
.compnay-details-container > div > input {
  border: none;
  outline: none;
  font-size: 1.5rem;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}
.show {
  display: block;
}
.show > span {
  color: darkred;
}
.hide {
  display: none;
}