.container .background-wallpaper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #065c9e;
}
.container .page-header {
  width: 100%;
  height: 100px;
  background-color: #a55050;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  .container .page-header {
    height: 70px;
  }
}
.container .page-header > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}
.container .page-header > div > div {
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 30pt;
}
@media only screen and (max-width: 900px) {
  .container .page-header > div > div {
    font-size: 20pt;
  }
}
.container .page-header > div > div > button {
  align-self: center;
  background-color: transparent;
  border: none;
  color: white;
  height: 80px;
  aspect-ratio: 1/1;
  margin-left: 10px;
}
@media only screen and (max-width: 900px) {
  .container .page-header > div > div > button {
    height: 60px;
  }
}
.container .page-header > div > div > button:hover {
  color: yellow;
}
.container .page-header > div > div > button:active {
  color: #e5e600;
}
.container .page-header > div > div > button > img {
  height: 9vh;
}
.container .page-header > div > div > span {
  align-self: center;
  text-align: center;
  width: 100%;
}
.container .page-header > div > div > img {
  height: 80px;
  aspect-ratio: 2/1;
  margin-right: 10px;
}
@media only screen and (max-width: 900px) {
  .container .page-header > div > div > img {
    height: 60px;
  }
}
.container .page-header > div > div.usericon-container {
  justify-content: flex-end;
  align-items: center;
}
.container .page-header > div > div.usericon-container img {
  padding-top: 10px;
  padding-bottom: 10px;
}
.user-details > form > fieldset {
  background-color: #005185;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 30px;
  border: 1px solid #2d619f;
}
.user-details > form > fieldset > div {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  row-gap: 10px;
}
.user-details > form > fieldset > div > div > label {
  font-size: 1.5rem;
  color: white;
}
.user-details > form > fieldset > div > div > div.readonly {
  display: flex;
}
.user-details > form > fieldset > div > div > div.readonly > span {
  font-size: 1.5rem;
  color: orange;
}
.user-details > form > fieldset > div > div > div.readonly > button {
  display: flex;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.user-details > form > fieldset > div > div:has(button) {
  display: flex;
  height: 40px;
  column-gap: 25px;
}
.user-details > form > fieldset > div > div > button {
  border: 1px solid white;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
}
.user-details > form > fieldset > div > div > button:nth-child(1) {
  background-color: #4bbd20;
}
.user-details > form > fieldset > div > div > button:nth-child(1):hover {
  background-color: #62dd33;
}
.user-details > form > fieldset > div > div > button:nth-child(2) {
  background-color: #770909;
}
.user-details > form > fieldset > div > div > button:nth-child(2):hover {
  background-color: #a60d0d;
}
.list-of-payments-container {
  background-color: #005185;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 30px;
  border: 1px solid #2d619f;
}
.list-of-payments-container > header {
  text-align: center;
}
.list-of-payments-container > header > h2 {
  font-size: 2rem;
  color: orange;
}
.list-of-payments-container > div.new-payment-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}
.list-of-payments-container > div.new-payment-container > label {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
.list-of-payments-container > div.new-payment-container > div {
  display: flex;
  column-gap: 10px;
}
.list-of-payments-container > div.new-payment-container > div > button {
  border: 1px solid white;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 120px;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  background-color: #4bbd20;
}
.list-of-payments-container > div.new-payment-container > div > button:hover {
  background-color: #62dd33;
}
.list-of-payments-container > .payment-methods-table {
  margin-top: 50px;
}
.list-of-payments-container > .payment-methods-table > .row {
  display: grid;
  grid-template-columns: 1fr 1fr 100px;
  column-gap: 20px;
  height: 40px;
}
.list-of-payments-container > .payment-methods-table > .row:nth-child(odd) {
  background-color: #0168ab;
}
.list-of-payments-container > .payment-methods-table > .row:nth-child(odd) > .cell {
  color: white;
}
.list-of-payments-container > .payment-methods-table > .row:nth-child(odd) > .cell > a {
  color: #c1fd46;
}
.list-of-payments-container > .payment-methods-table > .row:nth-child(even) {
  background-color: #055f99;
}
.list-of-payments-container > .payment-methods-table > .row:nth-child(even) > .cell {
  color: white;
}
.list-of-payments-container > .payment-methods-table > .row:nth-child(even) > .cell > a {
  color: #c1fd46;
}
.list-of-payments-container > .payment-methods-table > .row > .cell {
  display: flex;
  align-items: center;
  height: 40px;
}
.list-of-payments-container > .payment-methods-table > .row > .cell > a {
  margin-left: 15px;
}
.loading-container {
  margin-top: 80px;
  max-width: 40px;
  margin-left: auto;
  margin-right: auto;
}
.loading-container .loader {
  color: #fff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
  display: block;
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}