.add-invoice-outer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}
.background-wallpaper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  background: #01467a;
}
.page-header {
  width: 100%;
  height: 100px;
  background-color: #6bb62c;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
}
@media only screen and (max-width: 900px) {
  .page-header {
    height: 70px;
  }
}
.page-header > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}
.page-header > div > div {
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 5vh;
}
@media only screen and (max-width: 900px) {
  .page-header > div > div {
    font-size: 3vh;
  }
}
.page-header > div > div > button {
  align-self: center;
  background-color: transparent;
  border: none;
  color: white;
  height: 10vh;
  width: 10vh;
  margin-left: 10px;
}
.page-header > div > div > button:hover {
  color: yellow;
}
.page-header > div > div > button:active {
  color: #e5e600;
}
.page-header > div > div > button > img {
  height: 9vh;
}
.page-header > div > div > span {
  align-self: center;
  text-align: center;
  width: 100%;
}
.page-header > div > div > img {
  height: 8vh;
  margin-right: 10px;
}
.page-header > div > div.glasses-container {
  justify-content: flex-end;
  align-items: center;
}
.invoice-main-details-container {
  max-width: 600px;
  min-width: 500px;
  margin-right: 0;
  margin-left: auto;
}
.invoice-main-details-container > header {
  position: relative;
  margin-top: 40px;
  text-align: center;
  display: flex;
  height: 60px;
}
.invoice-main-details-container > header > div {
  background-color: #6bb62c;
  filter: blur(10px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.invoice-main-details-container > header > span {
  font-size: 2rem;
  color: #ffc800;
  display: block;
  align-self: center;
  width: 100%;
}
.invoice-main-details-container > footer {
  margin-top: 40px;
}
.invoice-main-details-container > footer > button {
  background-color: #c0461f;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  width: 100%;
  height: 50px;
  cursor: pointer;
}
.invoice-main-details-container > footer > button[disabled] {
  opacity: 0.5;
}
.main-input-outer-container {
  background-color: #005185;
  border-radius: 5px;
  margin-top: 30px;
  padding: 1px;
  border: 1px solid #2d619f;
}
.main-input-outer-container > .new-delete-print-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.main-input-outer-container > .new-delete-print-container > div {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-auto-rows: 30px;
  column-gap: 20px;
}
.main-input-outer-container > .new-delete-print-container > div > .hide {
  visibility: hidden;
}
.main-input-outer-container > .new-delete-print-container > div > .show {
  visibility: visible;
}
.main-input-outer-container > .new-delete-print-container > div > .new-button-container > button {
  background-color: #4bbd20;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
}
.main-input-outer-container > .new-delete-print-container > div > .new-button-container > button:hover {
  background-color: #62dd33;
}
.main-input-outer-container > .new-delete-print-container > div > .new-button-container > button:active {
  background-color: #42a71c;
}
.main-input-outer-container > .new-delete-print-container > div > .delete-button-container > button {
  background-color: #770909;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
}
.main-input-outer-container > .new-delete-print-container > div > .delete-button-container > button:hover {
  background-color: #a60d0d;
}
.main-input-outer-container > .new-delete-print-container > div > .delete-button-container > button:active {
  background-color: #5f0707;
}
.main-input-outer-container > .new-delete-print-container > div > .print-button-container > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
}
.main-input-outer-container > .new-delete-print-container > div > .print-button-container > button:active > img {
  height: 75%;
}
.main-input-outer-container > .new-delete-print-container > div > .print-button-container > button > img {
  border: none;
  width: 100%;
  height: 80%;
}
.main-input-outer-container > .main-input-inner-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  margin: 40px;
  margin-top: 0;
  border: none;
}
.main-input-outer-container > .main-input-inner-container > .row > label {
  color: white;
  font-size: 1.5rem;
}
.main-input-outer-container > .main-input-inner-container > .grid-one-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.main-input-outer-container > .main-input-inner-container > .grid-one-row > div {
  position: relative;
}
.main-input-outer-container > .main-input-inner-container > .grid-one-row > div > input[type=checkbox] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
}
.main-input-outer-container > .main-input-inner-container > .grid-one-row > div > span {
  pointer-events: none;
  user-select: none;
}
.main-input-outer-container > .main-input-inner-container > .grid-one-row > div > input[disabled] + span {
  opacity: 0.5;
}
.main-input-outer-container > .main-input-inner-container > .grid-one-row > div > input[type=checkbox] + span:after {
  content: 'No';
  right: 0;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #00a3ff;
}
.main-input-outer-container > .main-input-inner-container > .grid-one-row > div > input[type=checkbox]:checked + span:after {
  content: 'Yes';
}
.main-input-outer-container > .main-input-inner-container > .grid-one-row > div > input[type=checkbox]:active + span:after {
  background-color: whitesmoke;
}
.main-input-outer-container > .main-input-inner-container > .grid-two-rows {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
}
.main-input-outer-container > .main-input-inner-container > .grid-two-rows > input,
.main-input-outer-container > .main-input-inner-container > .grid-two-rows select {
  width: 100%;
  border: 0;
  border-radius: 5px;
  font-size: 1.5rem;
}
.main-input-outer-container > .main-input-inner-container > .show-visited-addressess-row {
  max-height: 1000px;
  transition: max-height 1s ease-in;
  visibility: visible;
}
.main-input-outer-container > .main-input-inner-container > .hide-visited-addressess-row {
  max-height: 0;
  transition: max-height 0.5s ease-out;
  visibility: hidden;
}
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row {
  overflow: hidden;
}
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > label {
  font-size: 1.3rem;
  margin-left: auto;
  margin-right: 15;
}
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > .add-visited-address-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
}
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > .add-visited-address-container > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > .add-visited-address-container > div > label,
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > .add-visited-address-container > div > input,
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > .add-visited-address-container > div > select {
  font-size: 1.2rem;
}
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > .add-visited-address-container > div > input,
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > .add-visited-address-container > div > select {
  width: 100%;
  border: 0;
  border-radius: 5px;
}
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > .add-visited-address-container > div > input,
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > .add-visited-address-container > div select {
  color: black;
}
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > .add-visited-address-container > div > label {
  justify-self: end;
  color: #c6edd4;
}
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > .add-visited-address-container > button {
  width: 50%;
  justify-self: end;
  background-color: #0e3a6c;
  border: 1px solid #506c97;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > .add-visited-address-container > button[disabled] {
  opacity: 0.5;
}
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > .list-visited-addressess-container {
  border-spacing: 0;
  margin-left: 60px;
}
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > .list-visited-addressess-container > thead > tr > td {
  color: #e8e5c4;
  border-bottom: 1px solid #5184b9;
  font-weight: bold;
  padding: 5px;
}
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > .list-visited-addressess-container > tr > td {
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > .list-visited-addressess-container > tr > td > button {
  background-color: transparent;
  text-decoration: underline;
  color: white;
  cursor: pointer;
  border: none;
}
.main-input-outer-container > .main-input-inner-container > .visited-addressess-row > .list-visited-addressess-container > tr > td > button[disabled] {
  opacity: 0.5;
}
.payment-breakdown-container.disabled {
  opacity: 0.5;
}
.payment-breakdown-container {
  max-width: 600px;
  min-width: 500px;
  margin-right: auto;
  margin-left: 0;
}
.payment-breakdown-container > header {
  position: relative;
  margin-top: 40px;
  text-align: center;
  display: flex;
  height: 60px;
}
.payment-breakdown-container > header > div {
  background-color: #339AA8;
  filter: blur(10px);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.payment-breakdown-container > header > span {
  font-size: 2rem;
  color: #ffc800;
  display: block;
  align-self: center;
  width: 100%;
}
.add-payment-outer-container {
  background-color: #005185;
  border-radius: 5px;
  margin-top: 30px;
  padding: 1px;
  border: 1px solid #2d619f;
}
.add-payment-outer-container > .add-payment-inner-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  margin: 40px;
}
.add-payment-outer-container > .add-payment-inner-container > .row > label {
  color: white;
  font-size: 1.5rem;
}
.add-payment-outer-container > .add-payment-inner-container > .grid-two-rows {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
}
.add-payment-outer-container > .add-payment-inner-container > .grid-two-rows > input {
  width: 100%;
  border: 0;
  border-radius: 5px;
  font-size: 1.5rem;
}
.add-payment-outer-container > .add-payment-inner-container > .payment-row {
  position: relative;
}
.add-payment-outer-container > .add-payment-inner-container > .payment-row > input {
  padding-left: 30px;
  grid-column-start: 1;
  grid-row-start: 2;
}
.add-payment-outer-container > .add-payment-inner-container > .payment-row > input:invalid {
  border: 2px solid red;
}
.add-payment-outer-container > .add-payment-inner-container > .payment-row > span {
  grid-column-start: 1;
  grid-row-start: 2;
  align-self: center;
  margin-left: 10px;
  font-size: 1.5rem;
  pointer-events: none;
}
.add-payment-outer-container > .add-payment-inner-container > .submit-container {
  grid-column: 0.5;
}
.add-payment-outer-container > .add-payment-inner-container > .submit-container > button {
  background-color: #c0461f;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  width: 100%;
  height: 50px;
  cursor: pointer;
}
.add-payment-outer-container > .add-payment-inner-container > .submit-container > button[disabled] {
  opacity: 0.5;
  cursor: default;
}
.list-payments-outer-container {
  background-color: #005185;
  border-radius: 5px;
  margin-top: 30px;
  padding: 1px;
  border: 1px solid #2d619f;
}
.list-payments-outer-container > .list-payment-inner-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  margin: 30px;
}
.list-payments-outer-container > .list-payment-inner-container > .header-cell {
  border-bottom: 1px solid #5184b9;
  padding: 5px;
}
.list-payments-outer-container > .list-payment-inner-container > .header-cell > span {
  font-weight: bold;
  color: #e8e5c4;
}
.list-payments-outer-container > .list-payment-inner-container > .body-cell {
  padding: 5px;
}
.list-payments-outer-container > .list-payment-inner-container > .body-cell > span {
  color: white;
}
.list-payments-outer-container > .list-payment-inner-container > .body-cell > button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  text-decoration: underline;
  color: white;
}
.list-payments-outer-container > .list-payment-inner-container > .body-footer {
  position: relative;
  padding: 5px;
  margin-top: 20px;
}
.list-payments-outer-container > .list-payment-inner-container > .body-footer > span {
  color: #00bbbb;
  text-decoration: underline;
}
.list-payments-outer-container > .list-payment-inner-container > .body-footer > span:before {
  content: 'Sum';
  position: absolute;
  left: -36px;
}