.invoice-list-page .background-wallpaper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: #065c9e;
}
.invoice-list-page .page-header {
  width: 100%;
  height: 100px;
  background-color: #C06F00;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  .invoice-list-page .page-header {
    height: 70px;
  }
}
.invoice-list-page .page-header > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}
.invoice-list-page .page-header > div > div {
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 30pt;
}
@media only screen and (max-width: 900px) {
  .invoice-list-page .page-header > div > div {
    font-size: 20pt;
  }
}
.invoice-list-page .page-header > div > div > button {
  align-self: center;
  background-color: transparent;
  border: none;
  color: white;
  height: 80px;
  aspect-ratio: 1/1;
  margin-left: 10px;
}
@media only screen and (max-width: 900px) {
  .invoice-list-page .page-header > div > div > button {
    height: 60px;
  }
}
.invoice-list-page .page-header > div > div > button:hover {
  color: yellow;
}
.invoice-list-page .page-header > div > div > button:active {
  color: #e5e600;
}
.invoice-list-page .page-header > div > div > button > img {
  height: 9vh;
}
.invoice-list-page .page-header > div > div > span {
  align-self: center;
  text-align: center;
  width: 100%;
}
.invoice-list-page .page-header > div > div > img {
  height: 80px;
  aspect-ratio: 2/1;
  margin-right: 10px;
}
@media only screen and (max-width: 900px) {
  .invoice-list-page .page-header > div > div > img {
    height: 60px;
  }
}
.invoice-list-page .page-header > div > div.glasses-container {
  justify-content: flex-end;
  align-items: center;
}
.list-invoices-outer-container > div {
  display: grid;
  grid-template-columns: 1fr;
}
.list-invoices-outer-container > div > header {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 120px;
  grid-template-rows: 30px;
  text-align: center;
  align-items: center;
  background-color: #b62c2c;
}
.list-invoices-outer-container > div > header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b62c2c;
  color: white;
  border-right: 1px solid black;
  height: 30px;
}
.list-invoices-outer-container > div > header > div > span {
  display: block;
  font-size: 12pt;
}
@media only screen and (max-width: 900px) {
  .list-invoices-outer-container > div > header > div > span {
    font-size: 10pt;
  }
}
@media only screen and (max-width: 760px) {
  .list-invoices-outer-container > div > header > div > span {
    font-size: 8pt;
  }
}
.list-invoices-outer-container > div > .row {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 120px;
}
.list-invoices-outer-container > div > .row:nth-child(odd) {
  background-color: white;
}
.list-invoices-outer-container > div > .row:nth-child(even) {
  background-color: #b6dfe7;
}
.list-invoices-outer-container > div > .row > .invoice-main-details {
  border-right: 1px solid black;
  overflow: hidden;
}
.list-invoices-outer-container > div > .row > .invoice-main-details:last-child {
  border-right: none;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only {
  align-items: center;
  justify-content: center;
  height: 30px;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only.show {
  display: flex;
}
@media only screen and (max-width: 900px) {
  .list-invoices-outer-container > div > .row > .invoice-main-details > .read-only.show {
    font-size: 10pt;
  }
}
@media only screen and (max-width: 760px) {
  .list-invoices-outer-container > div > .row > .invoice-main-details > .read-only.show {
    font-size: 8pt;
  }
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only.hide {
  display: none;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only:hover {
  color: #6fb006;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only > div {
  text-overflow: ellipsis;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only > .print-info-delete-container,
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only > .confirm-delete-container {
  display: flex;
  height: 100%;
  align-items: center;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only > .print-info-delete-container > button,
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only > .confirm-delete-container > button {
  height: 80%;
  width: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only > .print-info-delete-container > button > svg,
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only > .confirm-delete-container > button > svg {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only > .print-info-delete-container > button > svg:hover,
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only > .confirm-delete-container > button > svg:hover {
  filter: brightness(120%);
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only > .print-info-delete-container > button > svg:active,
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only > .confirm-delete-container > button > svg:active {
  filter: brightness(90%);
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only > .confirm-delete-container {
  width: 80%;
  justify-content: space-between;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only > .confirm-delete-container > button:nth-child(1) > svg {
  color: #69dd62;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .read-only > .confirm-delete-container > button:nth-child(2) > svg {
  color: #D94D4D;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .edit.show {
  display: block;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .edit.hide {
  display: none;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .edit > input,
.list-invoices-outer-container > div > .row > .invoice-main-details > .edit select {
  width: 100%;
  font-size: 12pt;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .edit > select {
  padding-top: 1px;
  padding-bottom: 1px;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .edit > .confirm-or-cancel-container {
  display: flex;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .edit > .confirm-or-cancel-container > button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .edit > .confirm-or-cancel-container > button.button-tick {
  color: #55D94D;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .edit > .confirm-or-cancel-container > button.button-tick:hover {
  color: #69dd62;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .edit > .confirm-or-cancel-container > button.button-tick:active {
  color: #41d538;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .edit > .confirm-or-cancel-container > button.button-cross {
  color: #D94D4D;
  margin-left: auto;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .edit > .confirm-or-cancel-container > button.button-cross:hover {
  color: #dd6262;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .edit > .confirm-or-cancel-container > button.button-cross:active {
  color: #d53838;
}
.list-invoices-outer-container > div > .row > .invoice-main-details > .edit > .confirm-or-cancel-container > button > svg {
  width: 100%;
  height: 100%;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > header {
  background-color: #001E3A;
  height: 2px;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details.show {
  display: block;
  max-height: 600px;
  transition: max-height 0.5s ease-in-out;
  background-color: #024787;
  grid-column: 1 / span 7;
  overflow-y: auto;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details.hide {
  max-height: 0;
  transition: max-height 1s ease-out;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row.one-row {
  grid-template-columns: 2fr 1fr;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > label {
  color: white;
  font-size: 14pt;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row input,
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row select {
  font-size: 1.2rem;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > .add-visited-address-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > .add-visited-address-container > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > .add-visited-address-container > div > label,
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > .add-visited-address-container > div > input,
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > .add-visited-address-container > div > select {
  font-size: 1.2rem;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > .add-visited-address-container > div > input,
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > .add-visited-address-container > div > select {
  width: 100%;
  border: 0;
  border-radius: 5px;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > .add-visited-address-container > div > input,
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > .add-visited-address-container > div select {
  color: black;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > .add-visited-address-container > div > label {
  justify-self: end;
  color: #c6edd4;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > .add-visited-address-container > button {
  width: 50%;
  justify-self: end;
  background-color: #0e3a6c;
  border: 1px solid #506c97;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > .add-visited-address-container > button[disabled] {
  opacity: 0.5;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > .list-visited-addressess-container {
  border-spacing: 0;
  margin-left: 60px;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > .list-visited-addressess-container > thead > tr > td {
  color: #e8e5c4;
  border-bottom: 1px solid #5184b9;
  font-weight: bold;
  padding: 5px;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > .list-visited-addressess-container > tr > td {
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > .list-visited-addressess-container > tr > td > button {
  background-color: transparent;
  text-decoration: underline;
  color: white;
  cursor: pointer;
  border: none;
}
.list-invoices-outer-container > div > .row > .invoice-addishanal-details > .addishanal-details-inner-container > div.addishanal-details-left-column > .row > .list-visited-addressess-container > tr > td > button[disabled] {
  opacity: 0.5;
}